
@{
    ViewBag.Title = "EditTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Task10.Models
@model DineInTable
<main>
    <div class="container">


        @using (Html.BeginForm("UpdateTable", "Home", FormMethod.Post, new { @class = "tableForm" }))
        {
            <div class="form-group mt-2">
                @Html.TextBoxFor(model => model.TableId, new { @class = "form-control", type = "hidden" })
            </div>

            <div class="form-group mt-2">
                @Html.LabelFor(model => model.NoOFChairs, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.NoOFChairs, new { @class = "form-control", type = "number", min = 0 })
                @Html.ValidationMessageFor(model => model.NoOFChairs, "", new { @class = "text-danger" })
            </div>

            if (Model.CanBeReserved == true)
            {
                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.CanBeReserved, new { @class = "form-label" })<br />

                    <div class="d-flex align-items-baseline">
                        @Html.RadioButtonFor(model => model.CanBeReserved, "Yes", new { @checked = "checked" })<p class="ms-2">Yes</p><br />
                    </div>


                    <div class="d-flex align-items-baseline">
                        @Html.RadioButtonFor(model => model.CanBeReserved, "No")<p class="ms-2">No</p><br />
                    </div>


                    @Html.ValidationMessageFor(model => model.CanBeReserved, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.CanBeReserved, new { @class = "form-label" })<br />

                    <div class="d-flex align-items-baseline">
                        @Html.RadioButtonFor(model => model.CanBeReserved, "Yes")<p class="ms-2">Yes</p><br />
                    </div>


                    <div class="d-flex align-items-baseline">
                        @Html.RadioButtonFor(model => model.CanBeReserved, "No", new { @checked = "checked" })<p class="ms-2">No</p><br />
                    </div>


                    @Html.ValidationMessageFor(model => model.CanBeReserved, "", new { @class = "text-danger" })
                </div>
            }


            <div class="form-group mt-2 d-flex justify-content-center flex-row">
                <button class="btn btn-success" id="SaveTable" type="submit">Save Changes</button>
            </div>
        }
    </div>
</main>

